<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GameDevVersionTracker.Properties.Settings.CSPCMTeamMarketIDsConnectionString"
            connectionString="Data Source=camntpsqld10;Initial Catalog=CSPCMTeamMarketIDs;Persist Security Info=True;User ID=cspcc"
            providerName="System.Data.SqlClient" />
        <add name="GameDevVersionTracker.Properties.Settings.CSPCMTeamMarketIDsConnectionString1"
            connectionString="Data Source=172.22.100.45;Initial Catalog=CSPCMTeamMarketIDs;Persist Security Info=True;User ID=cspcc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>